<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    
    <h1>BIENVENIDO  al carrito</h1>

    <form method="GET" action="/comprarCarrito">

        <input type="text" placeholder="carritoId" name="carritoId" />
        <button type="submit">comprar</button>
    </form>



</body>
</html>