<h1>SIGNUP</h1>
<form method="POST"  action="/signup">
  <input type="email" placeholder="email" name="email" />
  <input type="password" placeholder="password" name="password" />
  <input type="text" placeholder="Nombre y Apellido" name="name" />
  <input type="text" placeholder="Dirección" name="adress" />
  <input type="text" placeholder="Edad" name="age" />
  <input type="text" placeholder="Telefono de contacto" name="phone" />

  <!-- <form method="POST"  enctype="multipart/form-data" action="/uploadfile">
    <label for="file">Cargar imágen</label>
    <input type="file" name="pic">
    <button type="sumbit" value="Subir archivos">subir</button>

  </form> -->

  <button type="submit">submit</button>
</form>
<a href="/login">INGRESAR</a>

