<h1>SIGNUP</h1>
<form method="POST" action="/signup">
  <input type="email" placeholder="email" name="email" />
  <input type="password" placeholder="password" name="password" />
  <input type="text" placeholder="Nombre y Apelldio" name="nombreCompleto" />
  <input type="text" placeholder="Edad" name="edad" />
  <input type="text" placeholder="Telefono de contacto" name="telefono" />
  <button type="submit">submit</button>
</form>
<a href="/login">INGRESAR</a>

